
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Claim List</h5>

    <a
            [routerLink]="['/createClaim']"
            class="btn btn-primary btn-sm">
        Create Claim
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">claimNumber</th>
                        <th scope="col">noticeDate</th>
                        <th scope="col">lossDate</th>
                        <th scope="col">reportedBy</th>
                        <th scope="col">Status</th>
                        <th scope="col">LossCause</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (claim of claims; track claim.claimId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ claim.claimNumber }}
                </td>
                                <td class="align-middle">
                    {{ claim.noticeDate }}
                </td>
                                <td class="align-middle">
                    {{ claim.lossDate }}
                </td>
                                <td class="align-middle">
                    {{ claim.reportedBy }}
                </td>
                                <td class="align-middle">
                    {{ claim.Status }}
                </td>
                                <td class="align-middle">
                    {{ claim.LossCause }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadClaim', claim.claimId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteClaim(claim.claimId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (claims?.length === 0) {
            <tr>
                <td
                        colspan="8"
                        class="text-center">
                    No claims found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>