
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">WorkAuthorization List</h5>

    <a
            [routerLink]="['/createWorkAuthorization']"
            class="btn btn-primary btn-sm">
        Create WorkAuthorization
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">country</th>
                        <th scope="col">expirationDate</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (workAuthorization of workAuthorizations; track workAuthorization.workAuthorizationId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ workAuthorization.country }}
                </td>
                                <td class="align-middle">
                    {{ workAuthorization.expirationDate }}
                </td>
                                <td class="align-middle">
                    {{ workAuthorization.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadWorkAuthorization', workAuthorization.workAuthorizationId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteWorkAuthorization(workAuthorization.workAuthorizationId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (workAuthorizations?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No workAuthorizations found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>