
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Application List</h5>

    <a
            [routerLink]="['/createApplication']"
            class="btn btn-primary btn-sm">
        Create Application
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">applicationNumber</th>
                        <th scope="col">submissionDate</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (application of applications; track application.applicationId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ application.applicationNumber }}
                </td>
                                <td class="align-middle">
                    {{ application.submissionDate }}
                </td>
                                <td class="align-middle">
                    {{ application.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadApplication', application.applicationId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteApplication(application.applicationId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (applications?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No applications found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>