<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="organization.name" [(ngModel)]="organization.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>legalName</mat-label>
								<input matInput ngDefaultControl placeholder="legalName" name="organization.legalName" [(ngModel)]="organization.legalName">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>jurisdiction</mat-label>
								<input matInput ngDefaultControl placeholder="jurisdiction" name="organization.jurisdiction" [(ngModel)]="organization.jurisdiction">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>industrySector</mat-label>
								<input matInput ngDefaultControl placeholder="industrySector" name="organization.industrySector" [(ngModel)]="organization.industrySector">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>GovernanceBodies</mat-label>
					<mat-select placeholder="GovernanceBodies" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.GovernanceBodies">
						@for (governanceBody of governanceBodys; track governanceBody.governanceBodyId) {
							<mat-option name="organization.GovernanceBodies" ngDefaultControl
							            [value]="governanceBody.governanceBodyId">
								{{governanceBody.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Policies</mat-label>
					<mat-select placeholder="Policies" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.Policies">
						@for (policy of policys; track policy.policyId) {
							<mat-option name="organization.Policies" ngDefaultControl
							            [value]="policy.policyId">
								{{policy.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Risks</mat-label>
					<mat-select placeholder="Risks" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.Risks">
						@for (risk of risks; track risk.riskId) {
							<mat-option name="organization.Risks" ngDefaultControl
							            [value]="risk.riskId">
								{{risk.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>ThirdParties</mat-label>
					<mat-select placeholder="ThirdParties" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.ThirdParties">
						@for (thirdParty of thirdPartys; track thirdParty.thirdPartyId) {
							<mat-option name="organization.ThirdParties" ngDefaultControl
							            [value]="thirdParty.thirdPartyId">
								{{thirdParty.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>RecordsRepositories</mat-label>
					<mat-select placeholder="RecordsRepositories" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.RecordsRepositories">
						@for (recordsRepository of recordsRepositorys; track recordsRepository.recordsRepositoryId) {
							<mat-option name="organization.RecordsRepositories" ngDefaultControl
							            [value]="recordsRepository.recordsRepositoryId">
								{{recordsRepository.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>DataProcessingActivities</mat-label>
					<mat-select placeholder="DataProcessingActivities" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.DataProcessingActivities">
						@for (dataProcessingActivity of dataProcessingActivitys; track dataProcessingActivity.dataProcessingActivityId) {
							<mat-option name="organization.DataProcessingActivities" ngDefaultControl
							            [value]="dataProcessingActivity.dataProcessingActivityId">
								{{dataProcessingActivity.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>CompliancePrograms</mat-label>
					<mat-select placeholder="CompliancePrograms" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.CompliancePrograms">
						@for (complianceProgram of compliancePrograms; track complianceProgram.complianceProgramId) {
							<mat-option name="organization.CompliancePrograms" ngDefaultControl
							            [value]="complianceProgram.complianceProgramId">
								{{complianceProgram.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>AuditPrograms</mat-label>
					<mat-select placeholder="AuditPrograms" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.AuditPrograms">
						@for (auditProgram of auditPrograms; track auditProgram.auditProgramId) {
							<mat-option name="organization.AuditPrograms" ngDefaultControl
							            [value]="auditProgram.auditProgramId">
								{{auditProgram.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>BusinessUnits</mat-label>
					<mat-select placeholder="BusinessUnits" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.BusinessUnits">
						@for (businessUnit of businessUnits; track businessUnit.businessUnitId) {
							<mat-option name="organization.BusinessUnits" ngDefaultControl
							            [value]="businessUnit.businessUnitId">
								{{businessUnit.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Matters</mat-label>
					<mat-select placeholder="Matters" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.Matters">
						@for (matter of matters; track matter.matterId) {
							<mat-option name="organization.Matters" ngDefaultControl
							            [value]="matter.matterId">
								{{matter.matterName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>DataBreaches</mat-label>
					<mat-select placeholder="DataBreaches" multiple  [compareWith]="compareFn"  [(ngModel)]="organization.DataBreaches">
						@for (dataBreach of dataBreachs; track dataBreach.dataBreachId) {
							<mat-option name="organization.DataBreaches" ngDefaultControl
							            [value]="dataBreach.dataBreachId">
								{{dataBreach.incidentDate}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																 						 																	 						 																	 						 																	 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 										<button
				(click)="updateOrganization(organization.name, organization.legalName, organization.jurisdiction, organization.industrySector, organization.GovernanceBodies, organization.Policies, organization.Risks, organization.ThirdParties, organization.RecordsRepositories, organization.DataProcessingActivities, organization.CompliancePrograms, organization.AuditPrograms, organization.BusinessUnits, organization.Matters, organization.DataBreaches)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
