
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Territory List</h5>

    <a
            [routerLink]="['/createTerritory']"
            class="btn btn-primary btn-sm">
        Create Territory
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">region</th>
                        <th scope="col">TerritoryType</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (territory of territorys; track territory.territoryId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ territory.name }}
                </td>
                                <td class="align-middle">
                    {{ territory.region }}
                </td>
                                <td class="align-middle">
                    {{ territory.TerritoryType }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadTerritory', territory.territoryId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteTerritory(territory.territoryId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (territorys?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No territorys found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>