
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">AdAccount List</h5>

    <a
            [routerLink]="['/createAdAccount']"
            class="btn btn-primary btn-sm">
        Create AdAccount
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">accountCode</th>
                        <th scope="col">defaultCurrency</th>
                        <th scope="col">defaultTimezone</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (adAccount of adAccounts; track adAccount.adAccountId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ adAccount.name }}
                </td>
                                <td class="align-middle">
                    {{ adAccount.accountCode }}
                </td>
                                <td class="align-middle">
                    {{ adAccount.defaultCurrency }}
                </td>
                                <td class="align-middle">
                    {{ adAccount.defaultTimezone }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadAdAccount', adAccount.adAccountId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteAdAccount(adAccount.adAccountId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (adAccounts?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No adAccounts found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>