<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="warehouse.name" [(ngModel)]="warehouse.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>InventoryItems</mat-label>
					<mat-select placeholder="InventoryItems" multiple  [compareWith]="compareFn"  [(ngModel)]="warehouse.InventoryItems">
						@for (inventoryItem of inventoryItems; track inventoryItem.inventoryItemId) {
							<mat-option name="warehouse.InventoryItems" ngDefaultControl
							            [value]="inventoryItem.inventoryItemId">
								{{inventoryItem.quantityOnHand}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																 						 																				 						 										<button
				(click)="updateWarehouse(warehouse.name, warehouse.InventoryItems)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
