
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">InboundShipmentLine List</h5>

    <a
            [routerLink]="['/createInboundShipmentLine']"
            class="btn btn-primary btn-sm">
        Create InboundShipmentLine
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">lineNumber</th>
                        <th scope="col">quantity</th>
                        <th scope="col">UnitOfMeasure</th>
                        <th scope="col">StockStatus</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (inboundShipmentLine of inboundShipmentLines; track inboundShipmentLine.inboundShipmentLineId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ inboundShipmentLine.lineNumber }}
                </td>
                                <td class="align-middle">
                    {{ inboundShipmentLine.quantity }}
                </td>
                                <td class="align-middle">
                    {{ inboundShipmentLine.UnitOfMeasure }}
                </td>
                                <td class="align-middle">
                    {{ inboundShipmentLine.StockStatus }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadInboundShipmentLine', inboundShipmentLine.inboundShipmentLineId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteInboundShipmentLine(inboundShipmentLine.inboundShipmentLineId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (inboundShipmentLines?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No inboundShipmentLines found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>