
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">TaxWithholding List</h5>

    <a
            [routerLink]="['/createTaxWithholding']"
            class="btn btn-primary btn-sm">
        Create TaxWithholding
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">taxId</th>
                        <th scope="col">allowances</th>
                        <th scope="col">additionalAmount</th>
                        <th scope="col">FilingStatus</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (taxWithholding of taxWithholdings; track taxWithholding.taxWithholdingId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ taxWithholding.taxId }}
                </td>
                                <td class="align-middle">
                    {{ taxWithholding.allowances }}
                </td>
                                <td class="align-middle">
                    {{ taxWithholding.additionalAmount }}
                </td>
                                <td class="align-middle">
                    {{ taxWithholding.FilingStatus }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadTaxWithholding', taxWithholding.taxWithholdingId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteTaxWithholding(taxWithholding.taxWithholdingId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (taxWithholdings?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No taxWithholdings found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>