
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">ConnectedAircraft List</h5>

    <a
            [routerLink]="['/createConnectedAircraft']"
            class="btn btn-primary btn-sm">
        Create ConnectedAircraft
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">communicationsProvider</th>
                        <th scope="col">ConnectivityStatus</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (connectedAircraft of connectedAircrafts; track connectedAircraft.connectedAircraftId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ connectedAircraft.communicationsProvider }}
                </td>
                                <td class="align-middle">
                    {{ connectedAircraft.ConnectivityStatus }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadConnectedAircraft', connectedAircraft.connectedAircraftId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteConnectedAircraft(connectedAircraft.connectedAircraftId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (connectedAircrafts?.length === 0) {
            <tr>
                <td
                        colspan="4"
                        class="text-center">
                    No connectedAircrafts found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>