
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Endorsement List</h5>

    <a
            [routerLink]="['/createEndorsement']"
            class="btn btn-primary btn-sm">
        Create Endorsement
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">endorsementNumber</th>
                        <th scope="col">effectiveDate</th>
                        <th scope="col">description</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (endorsement of endorsements; track endorsement.endorsementId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ endorsement.endorsementNumber }}
                </td>
                                <td class="align-middle">
                    {{ endorsement.effectiveDate }}
                </td>
                                <td class="align-middle">
                    {{ endorsement.description }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadEndorsement', endorsement.endorsementId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteEndorsement(endorsement.endorsementId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (endorsements?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No endorsements found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>