
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Payment List</h5>

    <a
            [routerLink]="['/createPayment']"
            class="btn btn-primary btn-sm">
        Create Payment
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">paymentReference</th>
                        <th scope="col">amount</th>
                        <th scope="col">paymentDate</th>
                        <th scope="col">Method</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (payment of payments; track payment.paymentId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ payment.paymentReference }}
                </td>
                                <td class="align-middle">
                    {{ payment.amount }}
                </td>
                                <td class="align-middle">
                    {{ payment.paymentDate }}
                </td>
                                <td class="align-middle">
                    {{ payment.Method }}
                </td>
                                <td class="align-middle">
                    {{ payment.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadPayment', payment.paymentId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deletePayment(payment.paymentId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (payments?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No payments found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>