
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">UsageLimit List</h5>

    <a
            [routerLink]="['/createUsageLimit']"
            class="btn btn-primary btn-sm">
        Create UsageLimit
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">amount</th>
                        <th scope="col">count</th>
                        <th scope="col">Scope</th>
                        <th scope="col">Period</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (usageLimit of usageLimits; track usageLimit.usageLimitId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ usageLimit.name }}
                </td>
                                <td class="align-middle">
                    {{ usageLimit.amount }}
                </td>
                                <td class="align-middle">
                    {{ usageLimit.count }}
                </td>
                                <td class="align-middle">
                    {{ usageLimit.Scope }}
                </td>
                                <td class="align-middle">
                    {{ usageLimit.Period }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadUsageLimit', usageLimit.usageLimitId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteUsageLimit(usageLimit.usageLimitId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (usageLimits?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No usageLimits found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>