
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">InventoryItem List</h5>

    <a
            [routerLink]="['/createInventoryItem']"
            class="btn btn-primary btn-sm">
        Create InventoryItem
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">quantityOnHand</th>
                        <th scope="col">quantityAvailable</th>
                        <th scope="col">quantityReserved</th>
                        <th scope="col">unitCost</th>
                        <th scope="col">lastUpdated</th>
                        <th scope="col">StockStatus</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (inventoryItem of inventoryItems; track inventoryItem.inventoryItemId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ inventoryItem.quantityOnHand }}
                </td>
                                <td class="align-middle">
                    {{ inventoryItem.quantityAvailable }}
                </td>
                                <td class="align-middle">
                    {{ inventoryItem.quantityReserved }}
                </td>
                                <td class="align-middle">
                    {{ inventoryItem.unitCost }}
                </td>
                                <td class="align-middle">
                    {{ inventoryItem.lastUpdated }}
                </td>
                                <td class="align-middle">
                    {{ inventoryItem.StockStatus }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadInventoryItem', inventoryItem.inventoryItemId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteInventoryItem(inventoryItem.inventoryItemId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (inventoryItems?.length === 0) {
            <tr>
                <td
                        colspan="8"
                        class="text-center">
                    No inventoryItems found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>