
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Interview List</h5>

    <a
            [routerLink]="['/createInterview']"
            class="btn btn-primary btn-sm">
        Create Interview
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">interviewDate</th>
                        <th scope="col">feedback</th>
                        <th scope="col">Stage</th>
                        <th scope="col">Result</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (interview of interviews; track interview.interviewId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ interview.interviewDate }}
                </td>
                                <td class="align-middle">
                    {{ interview.feedback }}
                </td>
                                <td class="align-middle">
                    {{ interview.Stage }}
                </td>
                                <td class="align-middle">
                    {{ interview.Result }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadInterview', interview.interviewId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteInterview(interview.interviewId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (interviews?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No interviews found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>