
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">RecordsRepository List</h5>

    <a
            [routerLink]="['/createRecordsRepository']"
            class="btn btn-primary btn-sm">
        Create RecordsRepository
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">location</th>
                        <th scope="col">ownerDepartment</th>
                        <th scope="col">RepositoryType</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (recordsRepository of recordsRepositorys; track recordsRepository.recordsRepositoryId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ recordsRepository.name }}
                </td>
                                <td class="align-middle">
                    {{ recordsRepository.location }}
                </td>
                                <td class="align-middle">
                    {{ recordsRepository.ownerDepartment }}
                </td>
                                <td class="align-middle">
                    {{ recordsRepository.RepositoryType }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadRecordsRepository', recordsRepository.recordsRepositoryId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteRecordsRepository(recordsRepository.recordsRepositoryId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (recordsRepositorys?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No recordsRepositorys found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>