<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<input matInput placeholder="lineNumber" name="inboundShipmentLine.lineNumber" [(ngModel)]="inboundShipmentLine.lineNumber">
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>quantity</mat-label>
								<input matInput ngDefaultControl placeholder="quantity" name="inboundShipmentLine.quantity" [(ngModel)]="inboundShipmentLine.quantity">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>InboundShipment</mat-label>
					<mat-select placeholder="InboundShipment"  [(ngModel)]="inboundShipmentLine.InboundShipment">
						@for (inboundShipment of inboundShipments; track inboundShipment.inboundShipmentId) {
							<mat-option name="inboundShipmentLine.InboundShipment" ngDefaultControl
							            [value]="inboundShipment.inboundShipmentId">
								{{inboundShipment.carrierName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Sku</mat-label>
					<mat-select placeholder="Sku"  [(ngModel)]="inboundShipmentLine.Sku">
						@for (stockKeepingUnit of stockKeepingUnits; track stockKeepingUnit.stockKeepingUnitId) {
							<mat-option name="inboundShipmentLine.Sku" ngDefaultControl
							            [value]="stockKeepingUnit.stockKeepingUnitId">
								{{stockKeepingUnit.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Lot</mat-label>
					<mat-select placeholder="Lot"  [(ngModel)]="inboundShipmentLine.Lot">
						@for (lot of lots; track lot.lotId) {
							<mat-option name="inboundShipmentLine.Lot" ngDefaultControl
							            [value]="lot.lotId">
								{{lot.batchNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>SerialNumbers</mat-label>
					<mat-select placeholder="SerialNumbers" multiple [(ngModel)]="inboundShipmentLine.SerialNumbers">
						@for (serialNumber of serialNumbers; track serialNumber.serialNumberId) {
							<mat-option name="inboundShipmentLine.SerialNumbers" ngDefaultControl
							            [value]="serialNumber.serialNumberId">
								{{serialNumber.serial}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>DestinationLocation</mat-label>
					<mat-select placeholder="DestinationLocation"  [(ngModel)]="inboundShipmentLine.DestinationLocation">
						@for (storageLocation of storageLocations; track storageLocation.storageLocationId) {
							<mat-option name="inboundShipmentLine.DestinationLocation" ngDefaultControl
							            [value]="storageLocation.storageLocationId">
								{{storageLocation.code}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>UnitOfMeasure</mat-label>
						<mat-select placeholder="UnitOfMeasure" name="inboundShipmentLine.UnitOfMeasure" [(ngModel)]="inboundShipmentLine.UnitOfMeasure">
							@for (UnitOfMeasure of UnitOfMeasures; track UnitOfMeasure) {
								<mat-option ngDefaultControl [value]="UnitOfMeasure">
									{{UnitOfMeasure}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>StockStatus</mat-label>
						<mat-select placeholder="StockStatus" name="inboundShipmentLine.StockStatus" [(ngModel)]="inboundShipmentLine.StockStatus">
							@for (StockStatus of StockStatuss; track StockStatus) {
								<mat-option ngDefaultControl [value]="StockStatus">
									{{StockStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																										 																										 																										 																										 																										 																							 																							 										<button
				(click)="addInboundShipmentLine(inboundShipmentLine.lineNumber, inboundShipmentLine.quantity, inboundShipmentLine.InboundShipment, inboundShipmentLine.Sku, inboundShipmentLine.Lot, inboundShipmentLine.SerialNumbers, inboundShipmentLine.DestinationLocation, inboundShipmentLine.UnitOfMeasure, inboundShipmentLine.StockStatus)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
