
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">DeviceCriterion List</h5>

    <a
            [routerLink]="['/createDeviceCriterion']"
            class="btn btn-primary btn-sm">
        Create DeviceCriterion
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">DeviceType</th>
                        <th scope="col">PlatformType</th>
                        <th scope="col">Operator</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (deviceCriterion of deviceCriterions; track deviceCriterion.deviceCriterionId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ deviceCriterion.DeviceType }}
                </td>
                                <td class="align-middle">
                    {{ deviceCriterion.PlatformType }}
                </td>
                                <td class="align-middle">
                    {{ deviceCriterion.Operator }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadDeviceCriterion', deviceCriterion.deviceCriterionId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteDeviceCriterion(deviceCriterion.deviceCriterionId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (deviceCriterions?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No deviceCriterions found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>