<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="workCenter.name" [(ngModel)]="workCenter.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>capability</mat-label>
								<input matInput ngDefaultControl placeholder="capability" name="workCenter.capability" [(ngModel)]="workCenter.capability">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>ProductionLine</mat-label>
					<mat-select placeholder="ProductionLine"   [compareWith]="compareFn"  [(ngModel)]="workCenter.ProductionLine">
						@for (productionLine of productionLines; track productionLine.productionLineId) {
							<mat-option name="workCenter.ProductionLine" ngDefaultControl
							            [value]="productionLine.productionLineId">
								{{productionLine.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																 						 																	 						 																				 						 										<button
				(click)="updateWorkCenter(workCenter.name, workCenter.capability, workCenter.ProductionLine)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
