
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">KPI List</h5>

    <a
            [routerLink]="['/createKPI']"
            class="btn btn-primary btn-sm">
        Create KPI
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">targetValue</th>
                        <th scope="col">MetricType</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (kPI of kPIs; track kPI.kPIId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ kPI.targetValue }}
                </td>
                                <td class="align-middle">
                    {{ kPI.MetricType }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadKPI', kPI.kPIId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteKPI(kPI.kPIId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (kPIs?.length === 0) {
            <tr>
                <td
                        colspan="4"
                        class="text-center">
                    No kPIs found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>