
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Enterprise List</h5>

    <a
            [routerLink]="['/createEnterprise']"
            class="btn btn-primary btn-sm">
        Create Enterprise
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">legalName</th>
                        <th scope="col">registrationCountry</th>
                        <th scope="col">website</th>
                        <th scope="col">taxId</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (enterprise of enterprises; track enterprise.enterpriseId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ enterprise.name }}
                </td>
                                <td class="align-middle">
                    {{ enterprise.legalName }}
                </td>
                                <td class="align-middle">
                    {{ enterprise.registrationCountry }}
                </td>
                                <td class="align-middle">
                    {{ enterprise.website }}
                </td>
                                <td class="align-middle">
                    {{ enterprise.taxId }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadEnterprise', enterprise.enterpriseId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteEnterprise(enterprise.enterpriseId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (enterprises?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No enterprises found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>