
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Lot List</h5>

    <a
            [routerLink]="['/createLot']"
            class="btn btn-primary btn-sm">
        Create Lot
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">batchNumber</th>
                        <th scope="col">manufactureDate</th>
                        <th scope="col">expirationDate</th>
                        <th scope="col">LotStatus</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (lot of lots; track lot.lotId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ lot.batchNumber }}
                </td>
                                <td class="align-middle">
                    {{ lot.manufactureDate }}
                </td>
                                <td class="align-middle">
                    {{ lot.expirationDate }}
                </td>
                                <td class="align-middle">
                    {{ lot.LotStatus }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadLot', lot.lotId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteLot(lot.lotId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (lots?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No lots found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>