
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">InsuredObject List</h5>

    <a
            [routerLink]="['/createInsuredObject']"
            class="btn btn-primary btn-sm">
        Create InsuredObject
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">description</th>
                        <th scope="col">serialOrId</th>
                        <th scope="col">primaryAddress</th>
                        <th scope="col">ObjectType</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (insuredObject of insuredObjects; track insuredObject.insuredObjectId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ insuredObject.description }}
                </td>
                                <td class="align-middle">
                    {{ insuredObject.serialOrId }}
                </td>
                                <td class="align-middle">
                    {{ insuredObject.primaryAddress }}
                </td>
                                <td class="align-middle">
                    {{ insuredObject.ObjectType }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadInsuredObject', insuredObject.insuredObjectId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteInsuredObject(insuredObject.insuredObjectId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (insuredObjects?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No insuredObjects found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>