
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">ComplianceAlert List</h5>

    <a
            [routerLink]="['/createComplianceAlert']"
            class="btn btn-primary btn-sm">
        Create ComplianceAlert
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">alertCode</th>
                        <th scope="col">raisedAt</th>
                        <th scope="col">notes</th>
                        <th scope="col">Severity</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (complianceAlert of complianceAlerts; track complianceAlert.complianceAlertId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ complianceAlert.alertCode }}
                </td>
                                <td class="align-middle">
                    {{ complianceAlert.raisedAt }}
                </td>
                                <td class="align-middle">
                    {{ complianceAlert.notes }}
                </td>
                                <td class="align-middle">
                    {{ complianceAlert.Severity }}
                </td>
                                <td class="align-middle">
                    {{ complianceAlert.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadComplianceAlert', complianceAlert.complianceAlertId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteComplianceAlert(complianceAlert.complianceAlertId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (complianceAlerts?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No complianceAlerts found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>