<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>title</mat-label>
								<input matInput ngDefaultControl placeholder="title" name="dashboard.title" [(ngModel)]="dashboard.title">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>theme</mat-label>
								<input matInput ngDefaultControl placeholder="theme" name="dashboard.theme" [(ngModel)]="dashboard.theme">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Workspace</mat-label>
					<mat-select placeholder="Workspace"   [compareWith]="compareFn"  [(ngModel)]="dashboard.Workspace">
						@for (analyticsWorkspace of analyticsWorkspaces; track analyticsWorkspace.analyticsWorkspaceId) {
							<mat-option name="dashboard.Workspace" ngDefaultControl
							            [value]="analyticsWorkspace.analyticsWorkspaceId">
								{{analyticsWorkspace.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Visualizations</mat-label>
					<mat-select placeholder="Visualizations" multiple  [compareWith]="compareFn"  [(ngModel)]="dashboard.Visualizations">
						@for (visualization of visualizations; track visualization.visualizationId) {
							<mat-option name="dashboard.Visualizations" ngDefaultControl
							            [value]="visualization.visualizationId">
								{{visualization.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Reports</mat-label>
					<mat-select placeholder="Reports" multiple  [compareWith]="compareFn"  [(ngModel)]="dashboard.Reports">
						@for (report of reports; track report.reportId) {
							<mat-option name="dashboard.Reports" ngDefaultControl
							            [value]="report.reportId">
								{{report.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Datasets</mat-label>
					<mat-select placeholder="Datasets" multiple  [compareWith]="compareFn"  [(ngModel)]="dashboard.Datasets">
						@for (dataSet of dataSets; track dataSet.dataSetId) {
							<mat-option name="dashboard.Datasets" ngDefaultControl
							            [value]="dataSet.dataSetId">
								{{dataSet.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Alerts</mat-label>
					<mat-select placeholder="Alerts" multiple  [compareWith]="compareFn"  [(ngModel)]="dashboard.Alerts">
						@for (alert of alerts; track alert.alertId) {
							<mat-option name="dashboard.Alerts" ngDefaultControl
							            [value]="alert.alertId">
								{{alert.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Queries</mat-label>
					<mat-select placeholder="Queries" multiple  [compareWith]="compareFn"  [(ngModel)]="dashboard.Queries">
						@for (bIQuery of bIQuerys; track bIQuery.bIQueryId) {
							<mat-option name="dashboard.Queries" ngDefaultControl
							            [value]="bIQuery.bIQueryId">
								{{bIQuery.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Tags</mat-label>
					<mat-select placeholder="Tags" multiple  [compareWith]="compareFn"  [(ngModel)]="dashboard.Tags">
						@for (tag of tags; track tag.tagId) {
							<mat-option name="dashboard.Tags" ngDefaultControl
							            [value]="tag.tagId">
								{{tag.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>Status</mat-label>
						<mat-select placeholder="Status" name="dashboard.Status" [(ngModel)]="dashboard.Status">
							@for (DashboardStatus of DashboardStatuss; track DashboardStatus) {
								<mat-option ngDefaultControl [value]="DashboardStatus">
									{{DashboardStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																	 						 										<button
				(click)="updateDashboard(dashboard.title, dashboard.theme, dashboard.Workspace, dashboard.Visualizations, dashboard.Reports, dashboard.Datasets, dashboard.Alerts, dashboard.Queries, dashboard.Tags, dashboard.Status)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
