
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">LoanTransaction List</h5>

    <a
            [routerLink]="['/createLoanTransaction']"
            class="btn btn-primary btn-sm">
        Create LoanTransaction
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">transactionId</th>
                        <th scope="col">amount</th>
                        <th scope="col">postingDate</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (loanTransaction of loanTransactions; track loanTransaction.loanTransactionId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ loanTransaction.transactionId }}
                </td>
                                <td class="align-middle">
                    {{ loanTransaction.amount }}
                </td>
                                <td class="align-middle">
                    {{ loanTransaction.postingDate }}
                </td>
                                <td class="align-middle">
                    {{ loanTransaction.Type }}
                </td>
                                <td class="align-middle">
                    {{ loanTransaction.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadLoanTransaction', loanTransaction.loanTransactionId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteLoanTransaction(loanTransaction.loanTransactionId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (loanTransactions?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No loanTransactions found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>