
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Exposure List</h5>

    <a
            [routerLink]="['/createExposure']"
            class="btn btn-primary btn-sm">
        Create Exposure
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">ExposureType</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (exposure of exposures; track exposure.exposureId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ exposure.ExposureType }}
                </td>
                                <td class="align-middle">
                    {{ exposure.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadExposure', exposure.exposureId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteExposure(exposure.exposureId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (exposures?.length === 0) {
            <tr>
                <td
                        colspan="4"
                        class="text-center">
                    No exposures found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>