
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">DataCategory List</h5>

    <a
            [routerLink]="['/createDataCategory']"
            class="btn btn-primary btn-sm">
        Create DataCategory
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">description</th>
                        <th scope="col">Classification</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (dataCategory of dataCategorys; track dataCategory.dataCategoryId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ dataCategory.name }}
                </td>
                                <td class="align-middle">
                    {{ dataCategory.description }}
                </td>
                                <td class="align-middle">
                    {{ dataCategory.Classification }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadDataCategory', dataCategory.dataCategoryId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteDataCategory(dataCategory.dataCategoryId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (dataCategorys?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No dataCategorys found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>