
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Position List</h5>

    <a
            [routerLink]="['/createPosition']"
            class="btn btn-primary btn-sm">
        Create Position
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">quantity</th>
                        <th scope="col">averageCost</th>
                        <th scope="col">marketValue</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (position of positions; track position.positionId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ position.quantity }}
                </td>
                                <td class="align-middle">
                    {{ position.averageCost }}
                </td>
                                <td class="align-middle">
                    {{ position.marketValue }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadPosition', position.positionId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deletePosition(position.positionId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (positions?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No positions found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>