
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Campaign List</h5>

    <a
            [routerLink]="['/createCampaign']"
            class="btn btn-primary btn-sm">
        Create Campaign
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">totalBudget</th>
                        <th scope="col">flight</th>
                        <th scope="col">Objective</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (campaign of campaigns; track campaign.campaignId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ campaign.name }}
                </td>
                                <td class="align-middle">
                    {{ campaign.totalBudget }}
                </td>
                                <td class="align-middle">
                    {{ campaign.flight }}
                </td>
                                <td class="align-middle">
                    {{ campaign.Objective }}
                </td>
                                <td class="align-middle">
                    {{ campaign.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadCampaign', campaign.campaignId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteCampaign(campaign.campaignId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (campaigns?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No campaigns found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>