<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="evaluationMetric.name" [(ngModel)]="evaluationMetric.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>value</mat-label>
								<input matInput ngDefaultControl placeholder="value" name="evaluationMetric.value" [(ngModel)]="evaluationMetric.value">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>ModelVersion</mat-label>
					<mat-select placeholder="ModelVersion"   [compareWith]="compareFn"  [(ngModel)]="evaluationMetric.ModelVersion">
						@for (modelVersion of modelVersions; track modelVersion.modelVersionId) {
							<mat-option name="evaluationMetric.ModelVersion" ngDefaultControl
							            [value]="modelVersion.modelVersionId">
								{{modelVersion.version}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Metric</mat-label>
					<mat-select placeholder="Metric"   [compareWith]="compareFn"  [(ngModel)]="evaluationMetric.Metric">
						@for (metric of metrics; track metric.metricId) {
							<mat-option name="evaluationMetric.Metric" ngDefaultControl
							            [value]="metric.metricId">
								{{metric.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Dataset</mat-label>
					<mat-select placeholder="Dataset"   [compareWith]="compareFn"  [(ngModel)]="evaluationMetric.Dataset">
						@for (dataSet of dataSets; track dataSet.dataSetId) {
							<mat-option name="evaluationMetric.Dataset" ngDefaultControl
							            [value]="dataSet.dataSetId">
								{{dataSet.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																 						 																	 						 																				 						 																				 						 																				 						 										<button
				(click)="updateEvaluationMetric(evaluationMetric.name, evaluationMetric.value, evaluationMetric.ModelVersion, evaluationMetric.Metric, evaluationMetric.Dataset)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
