
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">JobProfile List</h5>

    <a
            [routerLink]="['/createJobProfile']"
            class="btn btn-primary btn-sm">
        Create JobProfile
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">title</th>
                        <th scope="col">jobCode</th>
                        <th scope="col">JobLevel</th>
                        <th scope="col">ExemptStatus</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (jobProfile of jobProfiles; track jobProfile.jobProfileId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ jobProfile.title }}
                </td>
                                <td class="align-middle">
                    {{ jobProfile.jobCode }}
                </td>
                                <td class="align-middle">
                    {{ jobProfile.JobLevel }}
                </td>
                                <td class="align-middle">
                    {{ jobProfile.ExemptStatus }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadJobProfile', jobProfile.jobProfileId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteJobProfile(jobProfile.jobProfileId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (jobProfiles?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No jobProfiles found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>