<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="metric.name" [(ngModel)]="metric.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>expression</mat-label>
								<input matInput ngDefaultControl placeholder="expression" name="metric.expression" [(ngModel)]="metric.expression">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>unit</mat-label>
								<input matInput ngDefaultControl placeholder="unit" name="metric.unit" [(ngModel)]="metric.unit">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>SemanticModel</mat-label>
					<mat-select placeholder="SemanticModel"  [(ngModel)]="metric.SemanticModel">
						@for (semanticModel of semanticModels; track semanticModel.semanticModelId) {
							<mat-option name="metric.SemanticModel" ngDefaultControl
							            [value]="semanticModel.semanticModelId">
								{{semanticModel.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Datasets</mat-label>
					<mat-select placeholder="Datasets" multiple [(ngModel)]="metric.Datasets">
						@for (dataSet of dataSets; track dataSet.dataSetId) {
							<mat-option name="metric.Datasets" ngDefaultControl
							            [value]="dataSet.dataSetId">
								{{dataSet.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>GlossaryTerms</mat-label>
					<mat-select placeholder="GlossaryTerms" multiple [(ngModel)]="metric.GlossaryTerms">
						@for (businessGlossaryTerm of businessGlossaryTerms; track businessGlossaryTerm.businessGlossaryTermId) {
							<mat-option name="metric.GlossaryTerms" ngDefaultControl
							            [value]="businessGlossaryTerm.businessGlossaryTermId">
								{{businessGlossaryTerm.term}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Alerts</mat-label>
					<mat-select placeholder="Alerts" multiple [(ngModel)]="metric.Alerts">
						@for (alert of alerts; track alert.alertId) {
							<mat-option name="metric.Alerts" ngDefaultControl
							            [value]="alert.alertId">
								{{alert.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Visualizations</mat-label>
					<mat-select placeholder="Visualizations" multiple [(ngModel)]="metric.Visualizations">
						@for (visualization of visualizations; track visualization.visualizationId) {
							<mat-option name="metric.Visualizations" ngDefaultControl
							            [value]="visualization.visualizationId">
								{{visualization.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>MetricType</mat-label>
						<mat-select placeholder="MetricType" name="metric.MetricType" [(ngModel)]="metric.MetricType">
							@for (MetricType of MetricTypes; track MetricType) {
								<mat-option ngDefaultControl [value]="MetricType">
									{{MetricType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																							 																										 																										 																										 																										 																										 																							 										<button
				(click)="addMetric(metric.name, metric.expression, metric.unit, metric.SemanticModel, metric.Datasets, metric.GlossaryTerms, metric.Alerts, metric.Visualizations, metric.MetricType)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
