
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">SubrogationRecovery List</h5>

    <a
            [routerLink]="['/createSubrogationRecovery']"
            class="btn btn-primary btn-sm">
        Create SubrogationRecovery
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">recoveryReference</th>
                        <th scope="col">amount</th>
                        <th scope="col">recoveryDate</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (subrogationRecovery of subrogationRecoverys; track subrogationRecovery.subrogationRecoveryId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ subrogationRecovery.recoveryReference }}
                </td>
                                <td class="align-middle">
                    {{ subrogationRecovery.amount }}
                </td>
                                <td class="align-middle">
                    {{ subrogationRecovery.recoveryDate }}
                </td>
                                <td class="align-middle">
                    {{ subrogationRecovery.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadSubrogationRecovery', subrogationRecovery.subrogationRecoveryId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteSubrogationRecovery(subrogationRecovery.subrogationRecoveryId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (subrogationRecoverys?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No subrogationRecoverys found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>