
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">SalesRegion List</h5>

    <a
            [routerLink]="['/createSalesRegion']"
            class="btn btn-primary btn-sm">
        Create SalesRegion
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">regionCode</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (salesRegion of salesRegions; track salesRegion.salesRegionId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ salesRegion.name }}
                </td>
                                <td class="align-middle">
                    {{ salesRegion.regionCode }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadSalesRegion', salesRegion.salesRegionId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteSalesRegion(salesRegion.salesRegionId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (salesRegions?.length === 0) {
            <tr>
                <td
                        colspan="4"
                        class="text-center">
                    No salesRegions found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>