
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">GoodsReceiptLine List</h5>

    <a
            [routerLink]="['/createGoodsReceiptLine']"
            class="btn btn-primary btn-sm">
        Create GoodsReceiptLine
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">lineNumber</th>
                        <th scope="col">receivedQuantity</th>
                        <th scope="col">acceptedQuantity</th>
                        <th scope="col">rejectedQuantity</th>
                        <th scope="col">lot</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (goodsReceiptLine of goodsReceiptLines; track goodsReceiptLine.goodsReceiptLineId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ goodsReceiptLine.lineNumber }}
                </td>
                                <td class="align-middle">
                    {{ goodsReceiptLine.receivedQuantity }}
                </td>
                                <td class="align-middle">
                    {{ goodsReceiptLine.acceptedQuantity }}
                </td>
                                <td class="align-middle">
                    {{ goodsReceiptLine.rejectedQuantity }}
                </td>
                                <td class="align-middle">
                    {{ goodsReceiptLine.lot }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadGoodsReceiptLine', goodsReceiptLine.goodsReceiptLineId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteGoodsReceiptLine(goodsReceiptLine.goodsReceiptLineId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (goodsReceiptLines?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No goodsReceiptLines found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>