
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">InspectionLot List</h5>

    <a
            [routerLink]="['/createInspectionLot']"
            class="btn btn-primary btn-sm">
        Create InspectionLot
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">lotNumber</th>
                        <th scope="col">quantity</th>
                        <th scope="col">sampleSize</th>
                        <th scope="col">createdOn</th>
                        <th scope="col">InspectionType</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (inspectionLot of inspectionLots; track inspectionLot.inspectionLotId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ inspectionLot.lotNumber }}
                </td>
                                <td class="align-middle">
                    {{ inspectionLot.quantity }}
                </td>
                                <td class="align-middle">
                    {{ inspectionLot.sampleSize }}
                </td>
                                <td class="align-middle">
                    {{ inspectionLot.createdOn }}
                </td>
                                <td class="align-middle">
                    {{ inspectionLot.InspectionType }}
                </td>
                                <td class="align-middle">
                    {{ inspectionLot.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadInspectionLot', inspectionLot.inspectionLotId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteInspectionLot(inspectionLot.inspectionLotId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (inspectionLots?.length === 0) {
            <tr>
                <td
                        colspan="8"
                        class="text-center">
                    No inspectionLots found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>