
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">CreativeAsset List</h5>

    <a
            [routerLink]="['/createCreativeAsset']"
            class="btn btn-primary btn-sm">
        Create CreativeAsset
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">clickUrl</th>
                        <th scope="col">landingPage</th>
                        <th scope="col">width</th>
                        <th scope="col">height</th>
                        <th scope="col">durationSeconds</th>
                        <th scope="col">CreativeType</th>
                        <th scope="col">AdFormat</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (creativeAsset of creativeAssets; track creativeAsset.creativeAssetId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ creativeAsset.name }}
                </td>
                                <td class="align-middle">
                    {{ creativeAsset.clickUrl }}
                </td>
                                <td class="align-middle">
                    {{ creativeAsset.landingPage }}
                </td>
                                <td class="align-middle">
                    {{ creativeAsset.width }}
                </td>
                                <td class="align-middle">
                    {{ creativeAsset.height }}
                </td>
                                <td class="align-middle">
                    {{ creativeAsset.durationSeconds }}
                </td>
                                <td class="align-middle">
                    {{ creativeAsset.CreativeType }}
                </td>
                                <td class="align-middle">
                    {{ creativeAsset.AdFormat }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadCreativeAsset', creativeAsset.creativeAssetId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteCreativeAsset(creativeAsset.creativeAssetId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (creativeAssets?.length === 0) {
            <tr>
                <td
                        colspan="10"
                        class="text-center">
                    No creativeAssets found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>