
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Team List</h5>

    <a
            [routerLink]="['/createTeam']"
            class="btn btn-primary btn-sm">
        Create Team
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (team of teams; track team.teamId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ team.name }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadTeam', team.teamId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteTeam(team.teamId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (teams?.length === 0) {
            <tr>
                <td
                        colspan="3"
                        class="text-center">
                    No teams found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>