
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Screening List</h5>

    <a
            [routerLink]="['/createScreening']"
            class="btn btn-primary btn-sm">
        Create Screening
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">score</th>
                        <th scope="col">screenedAt</th>
                        <th scope="col">ScreeningType</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (screening of screenings; track screening.screeningId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ screening.score }}
                </td>
                                <td class="align-middle">
                    {{ screening.screenedAt }}
                </td>
                                <td class="align-middle">
                    {{ screening.ScreeningType }}
                </td>
                                <td class="align-middle">
                    {{ screening.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadScreening', screening.screeningId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteScreening(screening.screeningId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (screenings?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No screenings found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>