<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="forecast.name" [(ngModel)]="forecast.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<input matInput placeholder="horizon" name="forecast.horizon" [(ngModel)]="forecast.horizon">
																																																																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>ModelVersion</mat-label>
					<mat-select placeholder="ModelVersion"  [(ngModel)]="forecast.ModelVersion">
						@for (modelVersion of modelVersions; track modelVersion.modelVersionId) {
							<mat-option name="forecast.ModelVersion" ngDefaultControl
							            [value]="modelVersion.modelVersionId">
								{{modelVersion.version}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>TimeSeries</mat-label>
					<mat-select placeholder="TimeSeries"  [(ngModel)]="forecast.TimeSeries">
						@for (timeSeries of timeSeriess; track timeSeries.timeSeriesId) {
							<mat-option name="forecast.TimeSeries" ngDefaultControl
							            [value]="timeSeries.timeSeriesId">
								{{timeSeries.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Datasets</mat-label>
					<mat-select placeholder="Datasets" multiple [(ngModel)]="forecast.Datasets">
						@for (dataSet of dataSets; track dataSet.dataSetId) {
							<mat-option name="forecast.Datasets" ngDefaultControl
							            [value]="dataSet.dataSetId">
								{{dataSet.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Granularity</mat-label>
						<mat-select placeholder="Granularity" name="forecast.Granularity" [(ngModel)]="forecast.Granularity">
							@for (TimeGranularity of TimeGranularitys; track TimeGranularity) {
								<mat-option ngDefaultControl [value]="TimeGranularity">
									{{TimeGranularity}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																										 																										 																										 																							 										<button
				(click)="addForecast(forecast.name, forecast.horizon, forecast.ModelVersion, forecast.TimeSeries, forecast.Datasets, forecast.Granularity)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
