<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>description</mat-label>
								<input matInput ngDefaultControl placeholder="description" name="insuredObject.description" [(ngModel)]="insuredObject.description">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>serialOrId</mat-label>
								<input matInput ngDefaultControl placeholder="serialOrId" name="insuredObject.serialOrId" [(ngModel)]="insuredObject.serialOrId">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>primaryAddress</mat-label>
								<input matInput ngDefaultControl placeholder="primaryAddress" name="insuredObject.primaryAddress" [(ngModel)]="insuredObject.primaryAddress">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Policy</mat-label>
					<mat-select placeholder="Policy"  [(ngModel)]="insuredObject.Policy">
						@for (policy of policys; track policy.policyId) {
							<mat-option name="insuredObject.Policy" ngDefaultControl
							            [value]="policy.policyId">
								{{policy.policyNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Coverages</mat-label>
					<mat-select placeholder="Coverages" multiple [(ngModel)]="insuredObject.Coverages">
						@for (policyCoverage of policyCoverages; track policyCoverage.policyCoverageId) {
							<mat-option name="insuredObject.Coverages" ngDefaultControl
							            [value]="policyCoverage.policyCoverageId">
								{{policyCoverage.limit}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>ObjectType</mat-label>
						<mat-select placeholder="ObjectType" name="insuredObject.ObjectType" [(ngModel)]="insuredObject.ObjectType">
							@for (InsuredObjectType of InsuredObjectTypes; track InsuredObjectType) {
								<mat-option ngDefaultControl [value]="InsuredObjectType">
									{{InsuredObjectType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																							 																										 																										 																							 										<button
				(click)="addInsuredObject(insuredObject.description, insuredObject.serialOrId, insuredObject.primaryAddress, insuredObject.Policy, insuredObject.Coverages, insuredObject.ObjectType)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
