
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Metric List</h5>

    <a
            [routerLink]="['/createMetric']"
            class="btn btn-primary btn-sm">
        Create Metric
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">expression</th>
                        <th scope="col">unit</th>
                        <th scope="col">MetricType</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (metric of metrics; track metric.metricId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ metric.name }}
                </td>
                                <td class="align-middle">
                    {{ metric.expression }}
                </td>
                                <td class="align-middle">
                    {{ metric.unit }}
                </td>
                                <td class="align-middle">
                    {{ metric.MetricType }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadMetric', metric.metricId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteMetric(metric.metricId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (metrics?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No metrics found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>