<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>title</mat-label>
								<input matInput ngDefaultControl placeholder="title" name="exception_.title" [(ngModel)]="exception_.title">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>justification</mat-label>
								<input matInput ngDefaultControl placeholder="justification" name="exception_.justification" [(ngModel)]="exception_.justification">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>startDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="startDate" name="exception_.startDate" [(ngModel)]="exception_.startDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>endDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="endDate" name="exception_.endDate" [(ngModel)]="exception_.endDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>RetentionSchedule</mat-label>
					<mat-select placeholder="RetentionSchedule"   [compareWith]="compareFn"  [(ngModel)]="exception_.RetentionSchedule">
						@for (retentionSchedule of retentionSchedules; track retentionSchedule.retentionScheduleId) {
							<mat-option name="exception_.RetentionSchedule" ngDefaultControl
							            [value]="retentionSchedule.retentionScheduleId">
								{{retentionSchedule.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Policy</mat-label>
					<mat-select placeholder="Policy"   [compareWith]="compareFn"  [(ngModel)]="exception_.Policy">
						@for (policy of policys; track policy.policyId) {
							<mat-option name="exception_.Policy" ngDefaultControl
							            [value]="policy.policyId">
								{{policy.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Control</mat-label>
					<mat-select placeholder="Control"   [compareWith]="compareFn"  [(ngModel)]="exception_.Control">
						@for (control of controls; track control.controlId) {
							<mat-option name="exception_.Control" ngDefaultControl
							            [value]="control.controlId">
								{{control.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Risk</mat-label>
					<mat-select placeholder="Risk"   [compareWith]="compareFn"  [(ngModel)]="exception_.Risk">
						@for (risk of risks; track risk.riskId) {
							<mat-option name="exception_.Risk" ngDefaultControl
							            [value]="risk.riskId">
								{{risk.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>ExceptionType</mat-label>
						<mat-select placeholder="ExceptionType" name="exception_.ExceptionType" [(ngModel)]="exception_.ExceptionType">
							@for (ExceptionType of ExceptionTypes; track ExceptionType) {
								<mat-option ngDefaultControl [value]="ExceptionType">
									{{ExceptionType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>Status</mat-label>
						<mat-select placeholder="Status" name="exception_.Status" [(ngModel)]="exception_.Status">
							@for (ExceptionStatus of ExceptionStatuss; track ExceptionStatus) {
								<mat-option ngDefaultControl [value]="ExceptionStatus">
									{{ExceptionStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																	 						 																	 						 																				 						 																				 						 																				 						 																				 						 																	 						 																	 						 										<button
				(click)="updateException_(exception_.title, exception_.justification, exception_.startDate, exception_.endDate, exception_.RetentionSchedule, exception_.Policy, exception_.Control, exception_.Risk, exception_.ExceptionType, exception_.Status)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
