<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>code</mat-label>
								<input matInput ngDefaultControl placeholder="code" name="diagnosis.code" [(ngModel)]="diagnosis.code">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>description</mat-label>
								<input matInput ngDefaultControl placeholder="description" name="diagnosis.description" [(ngModel)]="diagnosis.description">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>onsetDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="onsetDate" name="diagnosis.onsetDate" [(ngModel)]="diagnosis.onsetDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Encounter</mat-label>
					<mat-select placeholder="Encounter"   [compareWith]="compareFn"  [(ngModel)]="diagnosis.Encounter">
						@for (encounter of encounters; track encounter.encounterId) {
							<mat-option name="diagnosis.Encounter" ngDefaultControl
							            [value]="encounter.encounterId">
								{{encounter.encounterNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Patient</mat-label>
					<mat-select placeholder="Patient"   [compareWith]="compareFn"  [(ngModel)]="diagnosis.Patient">
						@for (patient of patients; track patient.patientId) {
							<mat-option name="diagnosis.Patient" ngDefaultControl
							            [value]="patient.patientId">
								{{patient.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>Certainty</mat-label>
						<mat-select placeholder="Certainty" name="diagnosis.Certainty" [(ngModel)]="diagnosis.Certainty">
							@for (DiagnosisCertainty of DiagnosisCertaintys; track DiagnosisCertainty) {
								<mat-option ngDefaultControl [value]="DiagnosisCertainty">
									{{DiagnosisCertainty}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																	 						 																				 						 																				 						 																	 						 										<button
				(click)="updateDiagnosis(diagnosis.code, diagnosis.description, diagnosis.onsetDate, diagnosis.Encounter, diagnosis.Patient, diagnosis.Certainty)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
