<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="recordsRepository.name" [(ngModel)]="recordsRepository.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>location</mat-label>
								<input matInput ngDefaultControl placeholder="location" name="recordsRepository.location" [(ngModel)]="recordsRepository.location">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>ownerDepartment</mat-label>
								<input matInput ngDefaultControl placeholder="ownerDepartment" name="recordsRepository.ownerDepartment" [(ngModel)]="recordsRepository.ownerDepartment">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Organization</mat-label>
					<mat-select placeholder="Organization"   [compareWith]="compareFn"  [(ngModel)]="recordsRepository.Organization">
						@for (organization of organizations; track organization.organizationId) {
							<mat-option name="recordsRepository.Organization" ngDefaultControl
							            [value]="organization.organizationId">
								{{organization.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Records</mat-label>
					<mat-select placeholder="Records" multiple  [compareWith]="compareFn"  [(ngModel)]="recordsRepository.Records">
						@for (record_ of record_s; track record_.record_Id) {
							<mat-option name="recordsRepository.Records" ngDefaultControl
							            [value]="record_.record_Id">
								{{record_.title}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Systems</mat-label>
					<mat-select placeholder="Systems" multiple  [compareWith]="compareFn"  [(ngModel)]="recordsRepository.Systems">
						@for (system_ of system_s; track system_.system_Id) {
							<mat-option name="recordsRepository.Systems" ngDefaultControl
							            [value]="system_.system_Id">
								{{system_.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>RetentionSchedules</mat-label>
					<mat-select placeholder="RetentionSchedules" multiple  [compareWith]="compareFn"  [(ngModel)]="recordsRepository.RetentionSchedules">
						@for (retentionSchedule of retentionSchedules; track retentionSchedule.retentionScheduleId) {
							<mat-option name="recordsRepository.RetentionSchedules" ngDefaultControl
							            [value]="retentionSchedule.retentionScheduleId">
								{{retentionSchedule.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>LegalHolds</mat-label>
					<mat-select placeholder="LegalHolds" multiple  [compareWith]="compareFn"  [(ngModel)]="recordsRepository.LegalHolds">
						@for (legalHold of legalHolds; track legalHold.legalHoldId) {
							<mat-option name="recordsRepository.LegalHolds" ngDefaultControl
							            [value]="legalHold.legalHoldId">
								{{legalHold.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>RepositoryType</mat-label>
						<mat-select placeholder="RepositoryType" name="recordsRepository.RepositoryType" [(ngModel)]="recordsRepository.RepositoryType">
							@for (RepositoryType of RepositoryTypes; track RepositoryType) {
								<mat-option ngDefaultControl [value]="RepositoryType">
									{{RepositoryType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																	 						 																				 						 																				 						 																				 						 																				 						 																				 						 																	 						 										<button
				(click)="updateRecordsRepository(recordsRepository.name, recordsRepository.location, recordsRepository.ownerDepartment, recordsRepository.Organization, recordsRepository.Records, recordsRepository.Systems, recordsRepository.RetentionSchedules, recordsRepository.LegalHolds, recordsRepository.RepositoryType)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
