
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">PlannedOrder List</h5>

    <a
            [routerLink]="['/createPlannedOrder']"
            class="btn btn-primary btn-sm">
        Create PlannedOrder
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">plannedOrderNumber</th>
                        <th scope="col">quantity</th>
                        <th scope="col">dueDate</th>
                        <th scope="col">OrderType</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (plannedOrder of plannedOrders; track plannedOrder.plannedOrderId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ plannedOrder.plannedOrderNumber }}
                </td>
                                <td class="align-middle">
                    {{ plannedOrder.quantity }}
                </td>
                                <td class="align-middle">
                    {{ plannedOrder.dueDate }}
                </td>
                                <td class="align-middle">
                    {{ plannedOrder.OrderType }}
                </td>
                                <td class="align-middle">
                    {{ plannedOrder.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadPlannedOrder', plannedOrder.plannedOrderId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deletePlannedOrder(plannedOrder.plannedOrderId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (plannedOrders?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No plannedOrders found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>