
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">ScheduleException List</h5>

    <a
            [routerLink]="['/createScheduleException']"
            class="btn btn-primary btn-sm">
        Create ScheduleException
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">date</th>
                        <th scope="col">reason</th>
                        <th scope="col">hours</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (scheduleException of scheduleExceptions; track scheduleException.scheduleExceptionId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ scheduleException.date }}
                </td>
                                <td class="align-middle">
                    {{ scheduleException.reason }}
                </td>
                                <td class="align-middle">
                    {{ scheduleException.hours }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadScheduleException', scheduleException.scheduleExceptionId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteScheduleException(scheduleException.scheduleExceptionId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (scheduleExceptions?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No scheduleExceptions found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>