
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">ClinicalOrder List</h5>

    <a
            [routerLink]="['/createClinicalOrder']"
            class="btn btn-primary btn-sm">
        Create ClinicalOrder
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">orderNumber</th>
                        <th scope="col">Status</th>
                        <th scope="col">OrderType</th>
                        <th scope="col">Priority</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (clinicalOrder of clinicalOrders; track clinicalOrder.clinicalOrderId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ clinicalOrder.orderNumber }}
                </td>
                                <td class="align-middle">
                    {{ clinicalOrder.Status }}
                </td>
                                <td class="align-middle">
                    {{ clinicalOrder.OrderType }}
                </td>
                                <td class="align-middle">
                    {{ clinicalOrder.Priority }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadClinicalOrder', clinicalOrder.clinicalOrderId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteClinicalOrder(clinicalOrder.clinicalOrderId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (clinicalOrders?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No clinicalOrders found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>