
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">SemanticModel List</h5>

    <a
            [routerLink]="['/createSemanticModel']"
            class="btn btn-primary btn-sm">
        Create SemanticModel
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">version</th>
                        <th scope="col">grain</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (semanticModel of semanticModels; track semanticModel.semanticModelId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ semanticModel.name }}
                </td>
                                <td class="align-middle">
                    {{ semanticModel.version }}
                </td>
                                <td class="align-middle">
                    {{ semanticModel.grain }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadSemanticModel', semanticModel.semanticModelId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteSemanticModel(semanticModel.semanticModelId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (semanticModels?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No semanticModels found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>