
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">BusinessGlossaryTerm List</h5>

    <a
            [routerLink]="['/createBusinessGlossaryTerm']"
            class="btn btn-primary btn-sm">
        Create BusinessGlossaryTerm
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">term</th>
                        <th scope="col">definition</th>
                        <th scope="col">steward</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (businessGlossaryTerm of businessGlossaryTerms; track businessGlossaryTerm.businessGlossaryTermId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ businessGlossaryTerm.term }}
                </td>
                                <td class="align-middle">
                    {{ businessGlossaryTerm.definition }}
                </td>
                                <td class="align-middle">
                    {{ businessGlossaryTerm.steward }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadBusinessGlossaryTerm', businessGlossaryTerm.businessGlossaryTermId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteBusinessGlossaryTerm(businessGlossaryTerm.businessGlossaryTermId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (businessGlossaryTerms?.length === 0) {
            <tr>
                <td
                        colspan="5"
                        class="text-center">
                    No businessGlossaryTerms found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>