<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>resultCode</mat-label>
								<input matInput ngDefaultControl placeholder="resultCode" name="labResult.resultCode" [(ngModel)]="labResult.resultCode">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<ngb-timepicker [(ngModel)]="labResult.issuedDate" class="form-control" name="labResult.issuedDate" #labResult.issuedDate ></ngb-timepicker>
																																																																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>LaboratoryOrder</mat-label>
					<mat-select placeholder="LaboratoryOrder"  [(ngModel)]="labResult.LaboratoryOrder">
						@for (laboratoryOrder of laboratoryOrders; track laboratoryOrder.laboratoryOrderId) {
							<mat-option name="labResult.LaboratoryOrder" ngDefaultControl
							            [value]="laboratoryOrder.laboratoryOrderId">
								{{laboratoryOrder.testCode}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Observations</mat-label>
					<mat-select placeholder="Observations" multiple [(ngModel)]="labResult.Observations">
						@for (observation of observations; track observation.observationId) {
							<mat-option name="labResult.Observations" ngDefaultControl
							            [value]="observation.observationId">
								{{observation.code}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Laboratory</mat-label>
					<mat-select placeholder="Laboratory"  [(ngModel)]="labResult.Laboratory">
						@for (laboratory of laboratorys; track laboratory.laboratoryId) {
							<mat-option name="labResult.Laboratory" ngDefaultControl
							            [value]="laboratory.laboratoryId">
								{{laboratory.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Status</mat-label>
						<mat-select placeholder="Status" name="labResult.Status" [(ngModel)]="labResult.Status">
							@for (ResultStatus of ResultStatuss; track ResultStatus) {
								<mat-option ngDefaultControl [value]="ResultStatus">
									{{ResultStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																										 																										 																										 																							 										<button
				(click)="addLabResult(labResult.resultCode, labResult.issuedDate, labResult.LaboratoryOrder, labResult.Observations, labResult.Laboratory, labResult.Status)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
