
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">ClaimReserve List</h5>

    <a
            [routerLink]="['/createClaimReserve']"
            class="btn btn-primary btn-sm">
        Create ClaimReserve
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">amount</th>
                        <th scope="col">setDate</th>
                        <th scope="col">ReserveType</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (claimReserve of claimReserves; track claimReserve.claimReserveId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ claimReserve.amount }}
                </td>
                                <td class="align-middle">
                    {{ claimReserve.setDate }}
                </td>
                                <td class="align-middle">
                    {{ claimReserve.ReserveType }}
                </td>
                                <td class="align-middle">
                    {{ claimReserve.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadClaimReserve', claimReserve.claimReserveId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteClaimReserve(claimReserve.claimReserveId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (claimReserves?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No claimReserves found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>