<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>endorsementNumber</mat-label>
								<input matInput ngDefaultControl placeholder="endorsementNumber" name="endorsement.endorsementNumber" [(ngModel)]="endorsement.endorsementNumber">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>effectiveDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="effectiveDate" name="endorsement.effectiveDate" [(ngModel)]="endorsement.effectiveDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>description</mat-label>
								<input matInput ngDefaultControl placeholder="description" name="endorsement.description" [(ngModel)]="endorsement.description">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Policy</mat-label>
					<mat-select placeholder="Policy"  [(ngModel)]="endorsement.Policy">
						@for (policy of policys; track policy.policyId) {
							<mat-option name="endorsement.Policy" ngDefaultControl
							            [value]="policy.policyId">
								{{policy.policyNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																						 																							 																							 																										 										<button
				(click)="addEndorsement(endorsement.endorsementNumber, endorsement.effectiveDate, endorsement.description, endorsement.Policy)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
